.min-vh-100 {
    min-height: 100vh;
}

body {
    background-color: green;
}

.box {
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    animation: circle 3s infinite;
    background-color: turquoise;
}
 

@keyframes circle {
    0% {
        border-radius: 72% 28% 66% 34% / 35% 60% 40% 65%;
    }

    50% {
        border-radius: 45% 55% 46% 54% / 35% 60% 40% 65%;
    }

    75% {
        border-radius: 22% 78% 66% 34% / 61% 49% 51% 39%;
    }

    100% {
        border-radius: 45% 55% 46% 54% / 35% 60% 40% 65%;
    }
}